@import url(./generalcss.css);

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
}

body>.container {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 1px #c2daff;
    background-color: var(--sidebar-color);
    transition: all 0.6s ease;
}


/* Sidebar Header */
.sidbar .header{
    margin-top: 40px;
}

.sidebar .header .img {
    width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: var(--body-color);
    transition: all 0.6s ease;
}

.sidebar.show .header .img {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20%;
}

.sidebar .header .shrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar .header .shrow .brand .name,.sidebar .header .shrow .brand .slogan{

    color: var(--secondary-color);
}

.sidebar .header .shrow .brand .name{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: 'Oxygen', sans-serif;
}

.sidebar .header .shrow .brand .slogan{
    color: var(--text-color);
    font-family: 'Kameron', serif;

}

.sidebar .header .shrow .brand {
    opacity: 0;
    width: 0;
    height: 0;
}

.sidebar.show .header .shrow .brand {
    width: 180px;
    height: 60px;
    margin: 10px;
    border-radius: 20%;
    opacity: 100;
    animation: fadeIn 4s;
}

.sidebar .header .toggle {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -25px;
    border-radius: 50%;
    background-color: var(--sidebar-color);
    font-weight: bold;
    font-size: 20px;
    transition: all 0.6s ease;
    cursor: pointer;
    z-index: 999;
}

.sidebar::after {
    content: '';
    background-color: var(--body-color);
    width: 30px;
    height: 35px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 8px;
    right: -20px;
    z-index: 0;
}

.sidebar.show {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    border-radius: 0%;
    background-color: var(--sidebar-color);
}

.sidebar.show .header .toggle {
    transform: rotate(180deg);
}



















/* Sidebar Menus */
.sidebar .menus{
    margin: 0;
    padding: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.sidebar .menus .menuitems{
    width: 100%;
}

.sidebar .menus .menuitems hr{
    display: none;
}

.sidebar.show .menus .menuitems hr{
    display: block;
    opacity: 0.5;
}

.sidebar .menus .menuitems .row{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--text-second-color);

}

.sidebar .menus .menuitems .row:hover{
    cursor: pointer;
    border-radius: 10%;
    justify-content: end;
    color: var(--text-color);
    box-shadow: 0 8px 16px 0 rgba(99, 99, 99, 0.2);
    /* margin-right: -10px; */
}

.sidebar .menus .menuitems.active .row{
    border-radius: 10%;
    box-shadow: 0 8px 16px 0 rgba(99, 99, 99, 0.2);
}

.sidebar.show .menus .menuitems .row{
    border-radius: 10px;
    justify-content: start;
}

.sidebar .menus .menuitems .row .title{
    /* opacity: 0; */
    font-family: 'Trykker', serif;
    display: none;
}

.sidebar.show .menus .menuitems .row .title{
    margin-left: 10px;
    display: block;
    animation: fadeIn 1s;
}

.sidebar .menus .menuitems .row .alert{
    /* opacity: 0; */
    font-family: 'Trykker', serif;
    display: none;
}

.sidebar .menus .menuitems .row:hover .alert{
    /* opacity: 0; */
    /* content: 'Home'; */
    font-family: 'Trykker', serif;
    display: block;
    position:absolute;
    left: 90px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--sidebar-color);
}

.sidebar .menus .menuitems .row:hover .alert::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    left: -5px;
    background-color: var(--sidebar-color);
}

.sidebar.show .menus .menuitems .row .alert{
    /* opacity: 0; */
    font-family: 'Trykker', serif;
    display: none;
}

.sidebar.show .menus .menuitems:hover .row .alert{
    /* opacity: 0; */
    font-family: 'Trykker', serif;
    display: none;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
























/* main content */
.maincontent{
    width: calc(100% - 80px);
    height: 100%;
    margin-left: 80px;
}

.sidebar.show ~ .maincontent{
    width: calc(100% - 250px);
    margin-left: 250px;
}

/* @keyframes move{
    0%{
        justify-content: start;
        align-items: flex-start;
    }

    100%{
        justify-content: center;
        align-items: center;
    }
} */

/* @keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */