:root{
    --body-color: #caddfa;
    --sidebar-color: #FFF;
    --main-color: #B9848C;
    --second-color: #806491;
    --text-color: #022647;
    --text-second-color: #707070;

    --wire-frame-each-color: #696969;
}